//nothing for now

#my-drawing svg{
    border: 1px solid #ddd;
}

.control-row {
  margin: 16px 0px;
  input, label {
    margin-right: 8px;
  }
}

@keyframes flash{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.loading{
  animation: flash 0.8s infinite;
  display: none;
  color: blue;

  &.show{
    display: inline-block;
  }
}